<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Menu</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<header>
  <img src="../../static/logo.png" alt="Logo">
  <h1>Чистый взгляд</h1>
</header>
<div class="main-content">
  <div class="sidebar"></div>
  <div class="content">
    <h2>Главное меню</h2>
    <div>
      <a href="/order-forms">Order Forms</a>
    </div>
    <div>
      <a href="/clients">Clients</a>
    </div>
    <div>
      <a href="/documents">Documents</a>
    </div>
    <div>
      <a href="/clientReception">Client Reception</a>
    </div>
    <div>
      <a href="/contracts">Contracts</a>
    </div>
    <div>
      <a href="/frameCatalog">Frame Catalog</a>
    </div>
    <div>
      <a href="/lensesCatalog">Lenses Catalog</a>
    </div>
    <!-- <button type="button" onclick="location.href='/sql'">Кастомный SQL запрос</button> -->
    <button type="button" onclick="location.href='/logout'">Выйти</button>
  </div>
  <div class="sidebar"></div>
</div>
</body>
</html>
