<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Table Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="../templates/css/style.css" th:href="@{/css/style.css}"> -->
</head>
<body>

<header>
    <img th:src="@{/logo.png}" alt="Logo" style="width:100px;">
    <h1>Чистый взгляд</h1>
</header>

<main>

    <div class="main-content">
        <div class="sidebar"></div>
        <div class="content">
            <h1>Документы</h1>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ID Клиента</th>
                    <th>Тип документа</th>
                    <th>Серия</th>
                    <th>Номер</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="document : ${documents}">
                    <td>
                        <a th:href="@{/documents/{id}(id=${document.id})}" th:text="${document.id} ?: '-'"></a>
                    </td>
                    <td th:text="${document.clientId}"></td>
                    <td th:text="${document.docType}"></td>
                    <td th:text="${document.series}"></td>
                    <td th:text="${document.number}"></td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/documents/add}">Добавить новую запись</a>
        </div>
        <div class="sidebar"></div>
    </div>

</main>

</body>
</html>